body {
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;
  background-color: lightblue;
  text-align: center;
}

td {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.song-table {
  background-color: linen;
  margin: 1rem auto 0 auto;
}

.table-row {
  background-color: palegreen;
}
